@use './base/reset';
@use './abtracts/variables';
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}
