:root {
  --color-main: #3a57e8;
  --color-main-80: #3a57e8d0;
  --color-text-gray: #8a92a6;
  --color-white: #ffffff;

  --header-height: 50px;
  --footer-height: 30px;

  --width-navigation: 200px;

  --title-size: 5rem;
  --blue-color: #3fd0d4;

  --toastify-toast-min-height: 30px;
  --toastify-toast-max-height: 100px;
}
